.footer-section {
  background-color: $main-background-color;

  &__box {
    display: flex;
    justify-items: space-between;
    gap: 70px;
  }
}
.footer-logo {
  padding-top: 60px;
  margin-bottom: 20px;
}
.logo {
  font-family: $secondary-font-family;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: $black-color;

  &__web {
    color: $focus-color;
  }
}
.page-footer-logo {
  color: $white-color;
}
.contact-list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $white-color;
  padding-bottom: 60px;

  &__item {
    margin-bottom: 9px;
  }
}
.footer-header {
  color: $white-color;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
}
.footer-icons {
  padding-top: 72px;

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
    padding-top: 20px;
    gap: 10px;
  }
  &__wrapper {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $focus-color;
      border-radius: 50%;
    }
  }
  &__svg {
    fill: $white-color;
  }
}
.newsletter {
  padding-top: 72px;

  &__label {
    display: flex;
    gap: 12px;
    margin-top: 20px;
  }

  &__input {
    width: 358px;
    height: 50px;
    background-color: $main-background-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 16px;

    &:focus {
      outline: 0;
    }
  }

  &__button {
    @extend %button;
  }

  &__button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}
