.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.grid-box {
  flex-basis: calc((100% - 60px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  & * {
    display: block;
  }

  &:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }

  &:hover .grid-box__overlay {
    transform: translatex(0);
  }

  &__image {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translatey(100%);
    transition: transform 250ms ease;
  }

  &__descripion {
    color: $white-color;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    padding: 49px 45px 49px 45px;
  }

  &__caption {
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;

    &--major {
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 20px;
      margin-bottom: 4px;
    }

    &--secondary {
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.03em;
      color: $secondary-color;
      padding: 0 24px 20px;
    }
  }
}
