.team-section {
  background-color: $button-background-color;
}
.team-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  gap: 30px;

  &__item {
    background-color: $white-color;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    & * {
      display: block;
    }
  }
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0;
  }
  &__job {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-color;
    margin-bottom: 16px;
  }
}
.social-media-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;

  &__box {
    transition-property: background-color, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $focus-color;
      border-radius: 50%;
    }
    &:hover > .social-media-icons__svg,
    &:focus > .social-media-icons__svg {
      fill: $white-color;
    }
  }
  &__svg {
    fill: $icon-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
