.picture-box {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 94px;

  &__image {
    width: 370px;
    height: 294px;
    position: relative;
  }

  &__descripion {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    text-align: Center;
    letter-spacing: 0.03em;
    color: $white-color;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0;
    right: 0;
    position: absolute;
    padding: 27px 90px;
  }
}
