* {
  margin: 0;
  padding: 0;
}
body {
  font-family: $main-font-family;
  color: $brand-color;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list {
  list-style-type: none;
}
.section-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
%button {
  background-color: $focus-color;
  color: $white-color;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
